In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 25 columns):
age               399 non-null float64
bp                399 non-null float64
sg                399 non-null object
al                399 non-null int64
su                399 non-null int64
rbc               399 non-null object
pc                399 non-null object
pcc               399 non-null object
ba                399 non-null object
bgr               399 non-null float64
bu                399 non-null float64
sc                399 non-null float64
sod               399 non-null float64
pot               399 non-null float64
hrmo              399 non-null float64
pcv               399 non-null float64
wc                399 non-null float64
rc                399 non-null float64
htn               399 non-null object
dm                399 non-null object
cad               399 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    399 non-null object
dtypes: float64(11), int64(2), object(12)
memory usage: 78.1+ KB

In [5]:
dataset.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [6]:
dataset["bp"].dtypes

dtype('float64')

In [7]:
for columnName in dataset.columns:
    print(columnName)

age
bp
sg
al
su
rbc
pc
pcc
ba
bgr
bu
sc
sod
pot
hrmo
pcv
wc
rc
htn
dm
cad
appet
pe
ane
classification

In [8]:
if (dataset["bp"].dtype=='O'):
    print("qual")
else:
    print("quan")

quan

In [9]:
quan=[]
qual=[]
for columnName in dataset.columns:
    if(dataset[columnName].dtypes=='O'):
        qual.append (columnName)
    else:
        quan.append(columnName)

In [10]:
quan

['age',
 'bp',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hrmo',
 'pcv',
 'wc',
 'rc']

In [11]:

qual

['sg',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [12]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        if(dataset[columnName].dtypes=='O'):
            qual.append (columnName)
        else:
            quan.append(columnName)
    return quan,qual

In [13]:
quan,qual=quanQual(dataset)

In [14]:
quanQual(dataset)

(['age',
  'bp',
  'al',
  'su',
  'bgr',
  'bu',
  'sc',
  'sod',
  'pot',
  'hrmo',
  'pcv',
  'wc',
  'rc'],
 ['sg',
  'rbc',
  'pc',
  'pcc',
  'ba',
  'htn',
  'dm',
  'cad',
  'appet',
  'pe',
  'ane',
  'classification'])

In [15]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [16]:
dataset["bp"].mean()

76.459948320401

In [17]:
dataset["bp"].median()

76.45994832

In [18]:
dataset["bp"].mode()[0]

80.0

In [19]:
dataset.describe()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
count,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000
mean,51.492308,76.459948,0.899749,0.395990,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597
std,16.995379,13.492053,1.314769,1.041155,74.864224,49.336046,5.623758,9.215829,2.823323,2.715753,8.157274,2526.204544,0.841006
min,2.000000,50.000000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000
25%,42.000000,70.000000,0.000000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.850000,34.000000,6950.000000,4.500000
50%,54.000000,76.459948,0.000000,0.000000,127.000000,44.000000,1.400000,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597
75%,64.000000,80.000000,2.000000,0.000000,150.000000,62.500000,3.077356,141.000000,4.800000,14.600000,44.000000,9400.000000,5.100000
max,90.000000,180.000000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

In [20]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [21]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]

In [22]:
descriptive

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
Mean,51.4923,76.4599,0.899749,0.39599,148.113,57.4821,3.07736,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Median,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Mode,60,80,0,0,148.113,57.4821,1.2,137.529,4.62724,12.5182,38.8689,8408.19,4.7056

In [23]:
import numpy as np

In [24]:
np.percentile(dataset["bp"],50)

76.45994832

In [25]:
dataset.describe()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
count,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000
mean,51.492308,76.459948,0.899749,0.395990,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597
std,16.995379,13.492053,1.314769,1.041155,74.864224,49.336046,5.623758,9.215829,2.823323,2.715753,8.157274,2526.204544,0.841006
min,2.000000,50.000000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000
25%,42.000000,70.000000,0.000000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.850000,34.000000,6950.000000,4.500000
50%,54.000000,76.459948,0.000000,0.000000,127.000000,44.000000,1.400000,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597
75%,64.000000,80.000000,2.000000,0.000000,150.000000,62.500000,3.077356,141.000000,4.800000,14.600000,44.000000,9400.000000,5.100000
max,90.000000,180.000000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

In [26]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","25%","50%","75%","100%"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["100%"]=dataset.describe()[columnName]["max"]

In [27]:
descriptive

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
Mean,51.4923,76.4599,0.899749,0.39599,148.113,57.4821,3.07736,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Median,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Mode,60,80,0,0,148.113,57.4821,1.2,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
25%,42,70,0,0,101,27,0.9,135,4,10.85,34,6950,4.5
50%,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
75%,64,80,2,0,150,62.5,3.07736,141,4.8,14.6,44,9400,5.1
100%,90,180,5,5,490,391,76,163,47,17.8,54,26400,8

In [28]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","25%","50%","75%","100%","Min","IQR","1.5*IQR","LesserRange","GreaterRange"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["IQR"]=descriptive[columnName]["75%"]-descriptive[columnName]["25%"]
    descriptive[columnName]["1.5*IQR"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["LesserRange"]= descriptive[columnName]["25%"]-descriptive[columnName]["1.5*IQR"]
    descriptive[columnName]["GreaterRange"]=descriptive[columnName]["75%"]+descriptive[columnName]["1.5*IQR"]

In [29]:
descriptive

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
Mean,51.4923,76.4599,0.899749,0.39599,148.113,57.4821,3.07736,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Median,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Mode,60,80,0,0,148.113,57.4821,1.2,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
25%,42,70,0,0,101,27,0.9,135,4,10.85,34,6950,4.5
50%,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
75%,64,80,2,0,150,62.5,3.07736,141,4.8,14.6,44,9400,5.1
100%,90,180,5,5,490,391,76,163,47,17.8,54,26400,8
Min,2,50,0,0,22,1.5,0.4,4.5,2.5,3.1,9,2200,2.1
IQR,22,10,2,0,49,35.5,2.17736,6,0.8,3.75,10,2450,0.6
1.5*IQR,33,15,3,0,73.5,53.25,3.26603,9,1.2,5.625,15,3675,0.9
LesserRange,9,55,-3,0,27.5,-26.25,-2.36603,126,2.8,5.225,19,3275,3.6
GreaterRange,97,95,5,0,223.5,115.75,6.34339,150,6,20.225,59,13075,6

In [30]:
if(descriptive["bp"]["LesserRange"]>descriptive[columnName]["Min"]):
    print("lesser range Outlier")
else:
    print("not LR Outlier")

lesser range Outlier

In [31]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["LesserRange"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if(descriptive[columnName]["GreaterRange"]<descriptive[columnName]["100%"]):
        greater.append(columnName)

In [32]:
lesser

['age', 'bp', 'bgr', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc']

In [33]:
greater

['bp', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'wc', 'rc']

In [34]:
for lessercolumn in lesser:
    dataset[lessercolumn][dataset[lessercolumn]<descriptive[lessercolumn]["LesserRange"]]=descriptive[lessercolumn]["LesserRange"]
for greatercolumn in greater:
    dataset[greatercolumn][dataset[greatercolumn]>descriptive[greatercolumn]["GreaterRange"]]=descriptive[greatercolumn]["GreaterRange"]

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [35]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","25%","50%","75%","100%","Min","IQR","1.5*IQR","LesserRange","GreaterRange"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["IQR"]=descriptive[columnName]["75%"]-descriptive[columnName]["25%"]
    descriptive[columnName]["1.5*IQR"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["LesserRange"]= descriptive[columnName]["25%"]-descriptive[columnName]["1.5*IQR"]
    descriptive[columnName]["GreaterRange"]=descriptive[columnName]["75%"]+descriptive[columnName]["1.5*IQR"]

In [36]:
descriptive

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
Mean,51.5775,75.7081,0.899749,0,137.034,51.2371,2.25833,138.116,4.43226,12.5245,38.9316,8279.56,4.73768
Median,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Mode,60,80,0,0,223.5,115.75,6.34339,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
25%,42,70,0,0,101,27,0.9,135,4,10.85,34,6950,4.5
50%,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
75%,64,80,2,0,150,62.5,3.07736,141,4.8,14.6,44,9400,5.1
100%,90,95,5,0,223.5,115.75,6.34339,150,6,17.8,54,13075,6
Min,9,55,0,0,27.5,1.5,0.4,126,2.8,5.225,19,3275,3.6
IQR,22,10,2,0,49,35.5,2.17736,6,0.8,3.75,10,2450,0.6
1.5*IQR,33,15,3,0,73.5,53.25,3.26603,9,1.2,5.625,15,3675,0.9
LesserRange,9,55,-3,0,27.5,-26.25,-2.36603,126,2.8,5.225,19,3275,3.6
GreaterRange,97,95,5,0,223.5,115.75,6.34339,150,6,20.225,59,13075,6

In [37]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["LesserRange"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if(descriptive[columnName]["GreaterRange"]<descriptive[columnName]["100%"]):
        greater.append(columnName)

In [38]:
lesser

[]

In [39]:
greater

[]

In [40]:
descriptive

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
Mean,51.5775,75.7081,0.899749,0,137.034,51.2371,2.25833,138.116,4.43226,12.5245,38.9316,8279.56,4.73768
Median,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Mode,60,80,0,0,223.5,115.75,6.34339,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
25%,42,70,0,0,101,27,0.9,135,4,10.85,34,6950,4.5
50%,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
75%,64,80,2,0,150,62.5,3.07736,141,4.8,14.6,44,9400,5.1
100%,90,95,5,0,223.5,115.75,6.34339,150,6,17.8,54,13075,6
Min,9,55,0,0,27.5,1.5,0.4,126,2.8,5.225,19,3275,3.6
IQR,22,10,2,0,49,35.5,2.17736,6,0.8,3.75,10,2450,0.6
1.5*IQR,33,15,3,0,73.5,53.25,3.26603,9,1.2,5.625,15,3675,0.9
LesserRange,9,55,-3,0,27.5,-26.25,-2.36603,126,2.8,5.225,19,3275,3.6
GreaterRange,97,95,5,0,223.5,115.75,6.34339,150,6,20.225,59,13075,6

In [41]:
dataset["bgr"].value_counts()

223.500000    52
148.112676    44
99.000000     10
100.000000     9
93.000000      9
              ..
162.000000     1
116.000000     1
160.000000     1
220.000000     1
148.000000     1
Name: bgr, Length: 101, dtype: int64

In [42]:
freqTable=pd.DataFrame(columns=["Univariable_values","Frequency","Related_frequency","cumsum"])

In [43]:
freqTable

Empty DataFrame
Columns: [Univariable_values, Frequency, Related_frequency, cumsum]
Index: []

In [44]:
freqTable["Univariable_values"]=dataset["bgr"].value_counts().index
freqTable["Frequency"]=dataset["bgr"].value_counts().values
freqTable["Relative frequency"]=freqTable["Frequency"]/103
freqTable["cumsum"]=freqTable["Relative frequency"].cumsum()

In [45]:
def freqTable(columnName,dataset):
    freqTable=pd.DataFrame(columns=["Univariable_values","Frequency","Relative frequency","cumsum"])
    freqTable["Univariable_values"]=dataset[columnName].value_counts().index
    freqTable["Frequency"]=dataset[columnName].value_counts().values
    freqTable["Relative frequency"]=freqTable["Frequency"]/101
    freqTable["cumsum"]=freqTable["Relative frequency"].cumsum()
    return freqTable

In [46]:
 freqTable(columnName,dataset)

    Univariable_values  Frequency  Relative frequency    cumsum
0             4.705597        131            1.297030  1.297030
1             3.600000         43            0.425743  1.722772
2             6.000000         32            0.316832  2.039604
3             5.200000         17            0.168317  2.207921
4             4.500000         16            0.158416  2.366337
5             4.900000         14            0.138614  2.504950
6             4.700000         11            0.108911  2.613861
7             5.000000         10            0.099010  2.712871
8             3.900000         10            0.099010  2.811881
9             4.800000         10            0.099010  2.910891
10            4.600000          9            0.089109  3.000000
11            5.500000          8            0.079208  3.079208
12            5.900000          8            0.079208  3.158416
13            3.700000          8            0.079208  3.237624
14            5.300000          7            0.069307  3.306931
15            5.400000          7            0.069307  3.376238
16            3.800000          7            0.069307  3.445545
17            5.800000          7            0.069307  3.514851
18            4.300000          6            0.059406  3.574257
19            5.600000          6            0.059406  3.633663
20            4.000000          6            0.059406  3.693069
21            4.200000          6            0.059406  3.752475
22            5.700000          5            0.049505  3.801980
23            5.100000          5            0.049505  3.851485
24            4.100000          5            0.049505  3.900990
25            4.400000          5            0.049505  3.950495

In [47]:
def Univariate (dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Min","25%","50%","75%","100%","IQR",
                               "1.5IQR","LesserRange","GreaterRange"],columns=quan)
    for columnName in quan:
        descriptive[columnName]["Mean"]=dataset[columnName].mean()
        descriptive[columnName]["Median"]=dataset[columnName].median()
        descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
        descriptive[columnName]["Min"]=dataset[columnName].min()
        descriptive[columnName]["25%"]=dataset.describe()[columnName]["25%"]
        descriptive[columnName]["50%"]=dataset.describe()[columnName]["50%"]
        descriptive[columnName]["75%"]=dataset.describe()[columnName]["75%"]
        descriptive[columnName]["100%"]=dataset.describe()[columnName]["max"]
        descriptive[columnName]["IQR"]=descriptive[columnName]["75%"]-descriptive[columnName]["25%"]
        descriptive[columnName]["1.5IQR"]=1.5*descriptive[columnName]["IQR"]
        descriptive[columnName]["LesserRange"]=descriptive[columnName]["25%"]- descriptive[columnName]["1.5IQR"]
        descriptive[columnName]["GreaterRange"]=descriptive[columnName]["75%"]+ descriptive[columnName]["1.5IQR"]
    return descriptive

In [48]:
Univariate(dataset,quan)

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
Mean,51.5775,75.7081,0.899749,0,137.034,51.2371,2.25833,138.116,4.43226,12.5245,38.9316,8279.56,4.73768
Median,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Mode,60,80,0,0,223.5,115.75,6.34339,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Min,9,55,0,0,27.5,1.5,0.4,126,2.8,5.225,19,3275,3.6
25%,42,70,0,0,101,27,0.9,135,4,10.85,34,6950,4.5
50%,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
75%,64,80,2,0,150,62.5,3.07736,141,4.8,14.6,44,9400,5.1
100%,90,95,5,0,223.5,115.75,6.34339,150,6,17.8,54,13075,6
IQR,22,10,2,0,49,35.5,2.17736,6,0.8,3.75,10,2450,0.6
1.5IQR,33,15,3,0,73.5,53.25,3.26603,9,1.2,5.625,15,3675,0.9
LesserRange,9,55,-3,0,27.5,-26.25,-2.36603,126,2.8,5.225,19,3275,3.6
GreaterRange,97,95,5,0,223.5,115.75,6.34339,150,6,20.225,59,13075,6

In [50]:
dir (dataset["bp"])

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_array',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [51]:
dataset["bp"].skew()

0.08822010859379244

In [52]:
dataset["bp"].kurtosis()

-0.9174890399327835

In [53]:
def Univariate (dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Min","25%","50%","75%","100%","IQR",
                               "1.5IQR","LesserRange","GreaterRange"],columns=quan)
    for columnName in quan:
        descriptive[columnName]["Mean"]=dataset[columnName].mean()
        descriptive[columnName]["Median"]=dataset[columnName].median()
        descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
        descriptive[columnName]["Min"]=dataset[columnName].min()
        descriptive[columnName]["25%"]=dataset.describe()[columnName]["25%"]
        descriptive[columnName]["50%"]=dataset.describe()[columnName]["50%"]
        descriptive[columnName]["75%"]=dataset.describe()[columnName]["75%"]
        descriptive[columnName]["100%"]=dataset.describe()[columnName]["max"]
        descriptive[columnName]["IQR"]=descriptive[columnName]["75%"]-descriptive[columnName]["25%"]
        descriptive[columnName]["1.5IQR"]=1.5*descriptive[columnName]["IQR"]
        descriptive[columnName]["LesserRange"]=descriptive[columnName]["25%"]- descriptive[columnName]["1.5IQR"]
        descriptive[columnName]["GreaterRange"]=descriptive[columnName]["75%"]+ descriptive[columnName]["1.5IQR"]
    return descriptive

In [54]:
Univariate (dataset,quan)

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
Mean,51.5775,75.7081,0.899749,0,137.034,51.2371,2.25833,138.116,4.43226,12.5245,38.9316,8279.56,4.73768
Median,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Mode,60,80,0,0,223.5,115.75,6.34339,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
Min,9,55,0,0,27.5,1.5,0.4,126,2.8,5.225,19,3275,3.6
25%,42,70,0,0,101,27,0.9,135,4,10.85,34,6950,4.5
50%,54,76.4599,0,0,127,44,1.4,137.529,4.62724,12.5182,38.8689,8408.19,4.7056
75%,64,80,2,0,150,62.5,3.07736,141,4.8,14.6,44,9400,5.1
100%,90,95,5,0,223.5,115.75,6.34339,150,6,17.8,54,13075,6
IQR,22,10,2,0,49,35.5,2.17736,6,0.8,3.75,10,2450,0.6
1.5IQR,33,15,3,0,73.5,53.25,3.26603,9,1.2,5.625,15,3675,0.9
LesserRange,9,55,-3,0,27.5,-26.25,-2.36603,126,2.8,5.225,19,3275,3.6
GreaterRange,97,95,5,0,223.5,115.75,6.34339,150,6,20.225,59,13075,6